<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.codemock.controller.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>com.codemock.controller.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.codemock.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>com.codemock.controller.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsServlet</servlet-name>
        <servlet-class>com.codemock.controller.AnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicReportServlet</servlet-name>
        <servlet-class>com.codemock.controller.PublicReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/VerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/ExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsServlet</servlet-name>
        <url-pattern>/AnalyticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicReportServlet</servlet-name>
        <url-pattern>/PublicReportServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
